@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gray: #cdd6d6;
  --black: #040402;   
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--gray);
}


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.jodit-ui-spacer{
  display: none;
}

.jodit-ui-group{
  flex-wrap: nowrap !important;
}

.jodit-container:not(.jodit_inline) .jodit-wysiwyg{
 padding: 20px !important;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;  
}
}